/* ForgEdit */
body {background-color: #5c7d99; padding: 0px; margin: 0px;}
div {font-family: Arial; font-size: 11px; float: left;}
form {margin-top: 15px;}
div#FGEmultiblock {position: relative; background-color: #5C7D99; width: 1000px;}
div#FGEblock {position: relative; background-color: #5C7D99; width: 1000px; height: 553px;}
div.FGE1Col {
    width: 24%; 
    min-width: 24%;
    margin-right: 1px; 
    margin-top: 3px; 
    height: 40px;
}
div.FGE2Col {
    width: 48%; 
    min-width: 48%;
    margin-right: 1px; 
    margin-top: 3px; 
    height: 40px;
}
div.FGE3Col {
    width: 73%; 
    min-width: 73%;
    margin-right: 1px; 
    margin-top: 3px; 
    height: 40px;
}
div.FGE4Col {
    width: 96%; 
    min-width: 96%;
    margin-right: 1px; 
    margin-top: 3px;
}

div.FGENewLine {height: 5px; width: 96%;}
div.FGESubmitRow {width: 96%; margin-top: 10px;}
div.FGEFormTitle  {font-size: 16px; clear: both; background-color: #3C6383; color: #FFFFFF; padding: 1px 0px 1px 6px; font-weight: bold; margin-top: 8px; margin-bottom: 8px; border: 1px #5C7D99 SOLID;}

div.rosette{
		padding-right:15px;
		display:inline;
		background-position:1px 1px;
		background-repeat:no-repeat;
		background-image:url("rosette_gray.png");
		height:20px;
		}

div.imageRif{
		padding-right:15px;
		display:inline;
		background-position:0px 2px;
		background-repeat:no-repeat;
		background-image:url("imageRifgray.gif");
		height:20px;
		}
                
div.imageRifDangerous{
		padding-right:15px;
		display:inline;
		background-position:0px 2px;
		background-repeat:no-repeat;
		background-image:url("imageRif1.gif");
		height:20px;
		}

div.WaitDiv{z-Index: -1; display: none; position: absolute; left: 330px; top: 120px; width: 300px; height: 24px; border: 2px #FFFFFF SOLID; text-align: center; background-color: #034373; color: white;}
legend.FGElegend {font-size: 11pt; text-transform: uppercase; clear: both; background-color: #FFFFFF; color: #000000; padding: 1px 6px 1px 6px; font-weight: bold; margin-top: 8px; margin-bottom: 8px; border: 1px #5C7D99 SOLID;}

fieldset.FGEfieldset {
        border: 1px SOLID #EEEEEE;
	background-color: #8FA2B3;
	padding-left: 5px;
	padding-bottom: 15px;
	float:left;
        margin:0;
        width: 98%;
	}

.FGElabel {padding: 3px; font-weight: bold; background-color: #3C6383; color: #B4B4B4; border: 1px SOLID #9A9A9A;}
/* width funziona su internet explorer, non su firefox ^ */

.FGEdisabledLbl {padding: 3px;font-weight: bold; background-color: #3C6383; color: #B4B4B4; border: 1px SOLID #3C6383;}
.FGEmandatory {padding: 3px; border: 1px SOLID red;  font-weight: bold; background-color: #3C6383; color: #B4B4B4;}
.FGEinput {font-family: Verdana; padding: 2px; font-size: 11px; margin-top: 3px; border: 1px SOLID #3C6383;}
.FGEinput_file {
	font-family: Verdana; 
	padding: 2px; 
	font-size: 11px; 
	margin-top: 3px; 
	border: 1px SOLID #3C6383;
	background-color:#ffffff;
	width:500px;
	}
.FGEradio {font-family: Verdana; padding-left: 2px; padding-right: 2px; margin-top: 3px; font-size: 11px; border: 1px SOLID #3C6383; background-color: #FFFFFF; float: left;}
.FGEbutton {font-family: Verdana; font-size: 11px; color: #FFFFFF; border: 2px SOLID #FFFF00;  background-color: #034373; cursor: pointer}
.FGESTATbutton {
	font-family: Verdana; 
	font-size: 11px; 
	color: #FFFFFF; 
	border: 2px SOLID #FFFF00;  
	background-color: #034373; 
	cursor: pointer;
	height:50px;
	margin-right: 5px;
	width:280px;
	}
.FGESTATbutton_over {
	font-family: Verdana; 
	font-size: 11px;
	font-weight:bold;
	color: #034373; 
	border: 2px SOLID #FFFF00;  
	background-color: #FFFF00; 
	cursor: pointer;
	height:50px;
	margin-right: 5px;
	width:280px;
	}
.FGEbuttonTicket {background-image: url(BT_ticket_arancio.gif);background-repeat:no-repeat; width:288px; height:20px; border: 1px;  background-color: #034373; cursor: pointer}
.FGEbuttonStreaming {background-image: url(BT_streaming.gif);background-repeat:no-repeat; width:288px; height:20px; border: 1px;  background-color: #034373; cursor: pointer}
/* ForgEdit Data Grid */


div.FGEDataGridTitle {
	width: 100%; 
	background-color: #FFFFFF; 
	color: #4D6980; 
	/*padding:5px;*/
	height:30px;
	}

div.FGEDataGridTitle div{
	font-size: 13pt; 
	font-family: verdana; 
	text-transform: uppercase; 
	font-weight: bold;
	padding:5px;
	}


form#FGEForm_1{
	padding-top:65px;
	}

div.FGEDataGridFilter  {
	font-size: 12px; 
	width: 99%;
	background-color: #ffffff; 
	color: #000000; 
	padding: 4px;
	margin-bottom:20px;
	}

input.FilterButton{
	margin-left:10px;
	height:30px;
	width:150px;
	border: 2px SOLID #FFFF00; 
	background-color: #034373;	color:#ffffff;
	}

input.FiscalButton{
	margin-left:10px;
	border: 2px SOLID #FFFF00; 
	background-color: #034373;	color:#ffffff;
	}

div.FGEDataGridPaging  {
	/*margin-top:50px;*/
	font-size: 12px; 
	width: 99%;
	min-height: 60px;
	height: auto !important;
	height: 60px;
	background-color: #8FA2B3; 
	color: #FFFFFF; 
	padding: 4px;
	}

div.FGEDataGridPaging_container{
	margin-top:50px;
	}

span.FGEDataGridActualPage {color: black; border: 1px SOLID #5C7D99; padding: 1px; margin:1px; background-color: yellow; float: left; width: 15px; text-align: center}
span.FGEDataGridPage {color: #666666; border: 1px SOLID #5C7D99; padding: 1px; background-color:#FFFFFF; float: left; width: 15px; margin:1px; text-align: center}
table.FGEDataGridTable {float: left; width: 98%; margin-top:50px; }
th.FGEDataGridTableHeader {font-size: 11px; border: 2px SOLID #FFFF00; background-color: #034373; color: white;}
td.FGEDataGridTableHeader {font-size: 11px; text-align: left; font-weight: bold;}
td.FGEDataGridTableCell {font-size: 11px; font-weight: normal; background-color: #FFFFFF; text-align: center; color: #000000;}
td.Tcell {font-size: 11px; font-weight: normal; background-color: #FFFFFF; text-align: center; color: #000000}
td.FGEDataGridTableCellLeft {font-size: 11px; font-weight: normal; background-color: #FFFFFF; text-align: left; color: #000000;}
td.FGEDataGridTableCellRight {font-size: 11px; font-weight: normal; background-color: #FFFFFF; text-align: right; color: #000000;}
td.NMOV9999999 {background-color: #FCD2D1;}
a.FGEDataGridOrderLink {color: #FFFFFF; font-weight: bold; cursor: pointer;}
a.FGEDataGridPagingLink {color: #000000; font-weight: normal; cursor: pointer; text-decoration: none;}

form#ConfiguraNotifiche table tr td{
	padding: 5px;
	}

form#ConfiguraNotifiche table tr td select option{
	font-size:x-small;
	}

#InfoWindow p.title{
	font-weight: bold;
	}

#TABLE_Allineamento_SISTRI{
	width:300px;
	margin-left:auto; 
    margin-right:auto;
	}

#TABLE_MatchSedi{
	width:100%;
	margin-left:auto; 
    margin-right:auto;
	padding:0;
	margin:0;
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: black;
	border-collapse: collapse;
	}

#TABLE_MatchSedi th{
	background-color:#4D6980; 
	color:#fff;
	text-align:left;
	font-size:11px;
	padding:6px;
	width:150px;
	border-width: 1px;
	border-style: inset;
	border-color: black;
	-moz-border-radius: ;	
	}

#TABLE_MatchSedi td{
	padding:6px;
	border-width: 1px;
	border-style: inset;
	border-color: black;
	-moz-border-radius: ;	
	}


#LatLong_address{
	width:430px;
	height:50px;
	margin-top:10px;
	}

#LatLong_address #address{
	height:23px;
	width:300px;
	margin-right:10px;
	}


table.DynamicRequestHistoryTable{
	width:100%;
	border:1px solid #000;
	}

table.DynamicRequestHistoryTable tr th{
	text-align:left;
	background-color:#4D6980;
	color:#fff;
	}

table.DynamicRequestHistoryTable tr td{
	border:1px solid #000;
	}