body {background-color: #4D6980; padding: 5px; margin: 0px; font-family: Arial; color: white;}
h1 {font-weight: bold; font-size: 18px;}
h2 {font-weight: bold; font-size: 12px; clear: both; padding-top: 15px;} 
