@import url(FGE.css);
@import url(SOGERcommon.css);


div#FGEmultiblock {position: relative; background-color: #5C7D99; width: 1000px;}
div#FGEblock {position: relative; background-color: #5C7D99; width: 1000px; height: 553px;}

table#intestatario td{
	font-family: verdana, arial;
	font-size:x-small;
	color:#ffffff;
	}


/* Soger dynamic */

div#ExitTop {
	position: absolute; 
	left: 888px; 
	top: 10px; 
	width: 120px; 
	z-index: 2;
	}

div.NavButtons {
        clear:both;
	background-color:#5C7D99;
        width: 100%;
	}


div#NavDiv {
	left:0px;
	width: 100%; 
	height: 44px; 
	z-index: 2;
	background-color:#5C7D99;
	}

div#mainWin{
	clear:both;
	width:1000px;
	}
        
div#MovLegenda{
        background-color: #8fa2b3;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #fff;
        width:100%;
        }
        
div.MovLegenda_title{
        padding-right:15px;
        display:inline;
        background-position:0px 2px;
        background-repeat:no-repeat;
        background-image:url("information.png");
        height:20px;
        }
                
table#MovLegenda_icon{
        background-color:#fff;
        width: 96%;
        margin-left:4px;
        margin-bottom:4px;
        }

/* Soger Divs */

div#SogerSubMenuMov{
	position: absolute; 
	border: 1px #4D6980 solid; top: 50px; 
	top:103px;
	left: 342px; 
	height: 515px;
	width: 350px; 
	background-color:#8FA2B3;
	}

div#SogerSubMenuReg{
	position: absolute; 
	border: 1px #4D6980 solid; top: 50px; 
	top:103px;
	left: 342px; 
	height: 515px;
	width: 350px; 
	background-color:#8FA2B3;
	}

div#SogerLoadingCarichi{
	position: absolute; 
	top: 200px;
	left: 300px; 
	overflow: auto; 
	}

div#LOADING{
	border: 3px #4D6980 solid; 
	background-color: #ffffff;
	z-index:100;
	width: 400px; 
	height: 250px; 
	}

div#LOADING div#loading_carichi, div#LOADING div#loading_fiscal{
	width:400px;
	clear:both;
	text-align:center;
	} 

div#LOADING div#title{
	background-color: #4D6980;
	margin-left:-1px;
	height:20px;
	width:391px;
	_width:401px;
	color:#ffffff;
	font-weight:bold;
	padding:5px;
	}

div#LOADING div#txt1{
	text-align:center;
	margin-left:-1px;
	width:401px;
	margin-top:20px;
	}

div#LOADING div#txt2{
	text-align:center;
	margin-left:-1px;
	width:401px;
	height:50px;
	padding-top:20px;
	}

div#LOADING .loadgif{
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	background-position:50% 70%;
	text-align:center;
	margin-left:-1px;
	width:401px;
	height:50px;
	}

div#LOADING .finished{
	background-image: url(loading-off.gif);
	background-repeat: no-repeat;
	background-position:50% 70%;
	text-align:center;
	margin-left:-1px;
	width:401px;
	height:50px;
	}


div#SogerFiscalizzazione_step1{
	position: fixed;
	_position:absolute;
	top: 200px;
	left: 190px; 
	overflow: auto; 
	}

div#FISCAL{
	border: 3px #4D6980 solid; 
	background-color: #ffffff;
	padding-left: 1px;	
	z-index:100;
	width: 620px; 
	height: 325px; 
	font-size:8pt;
	margin-left:-1px;
	margin-top:20px;
	text-align:center;
	overflow:hidden;
	}

div#FISCAL_SCHEDULED div#title{
	background-color: #4D6980;
	margin-left:-1px;
	height:20px;
	width:491px;
	color:#ffffff;
	font-weight:bold;
	padding:5px;
	}

div#FISCAL_SCHEDULED{
	position:absolute;
	z-index:100;
	font-size:8pt;
	margin-left:250px;
	_margin-left:-750px;
	margin-top:20px;
	text-align:center;
	overflow:hidden;
	}

div#FISCAL div#title{
	background-color: #4D6980;
	margin-left:-1px;
	height:20px;
	width:620px;
	color:#ffffff;
	font-weight:bold;
	padding:5px;
	}

div#table_prospetto{
	height:200px;
	width:600px;
	overflow-x:hidden;
	overflow-y:scroll;
	}

div#table_prospetto table{
	margin-left:10px;
	margin-top:20px;
	font-size:8pt;
	border:1px solid #000000;
	width:550px;
	}

div#table_prospetto table th{
	background-color: #4D6980;
	color:#ffffff;
	height:20px;
	}

div#table_prospetto table td{
	height:20px;
	border:1px solid #000000;
	}

div#table_prospetto table td input{
	text-align:right;
	}

a.Avvisi {color: #FFFF00;}



.rifRow{
	margin-top:8px;
	margin-bottom:1px;
	background-color:#034373;
	width:98%;
	padding:5px;
	color:#ffffff;
	border: 2px solid #FFFF00;
	font-weight:bold;
	}

.ncRow{
	background-color:#ffffff;
	width:98%;
	padding:5px;
	}

.CER{
	width:100px;
	text-align:center;
	font-weight:bold;
	}
	
.DESC{
	width:500px;
	font-weight:bold;
	}
	
.ncRow td{
	font-size:12px;
	font-weight:normal;
	}

#TableConfigIndex, #TableIndex{
	width:100%;
	}

#TableConfigIndex thead{
	background-color:#034373;
	color:#fff;
	font-size:11px;
	}
#TableConfigIndex thead th{
	padding:5px;
	}
#TableConfigIndex tbody td{
	padding:2px;
	}
#TableConfigIndex tbody th{
	padding:2px;
	text-align:left;
	background-color:#034373;
	color:#fff;
	font-size:11px;
	}

#TableConfigIndex tbody td{
	padding:2px;
	text-align:right;
	background-color:#fff;
	}

#TableIndex{
	margin-top:20px;
	}

#TableIndex thead{
	background-color:#034373;
	color:#fff;
	font-size:11px;
	}
#TableIndex thead th{
	padding:5px;
	}
#TableIndex tbody td{
	padding:2px;
	}

.IndexButton{
	background-color:#034373;
	color:#fff;
	padding:5px;
	}

.FSS, .FST, .FSK, .FSM, .CEA, .KGD, .KM{
	text-align:center;
	}

.INDEX_MIO{
	width:80px;
	font-weight:bold;
	text-align:center;
	}
	
.INDEX_RIF{
	width:80px;
	font-weight:bold;
	text-align:center;
	}
	
.SCOST{
	width:80px;
	font-weight:bold;
	text-align:center;
	}
	
.KGD{
	width:80px;
	font-weight:bold;
	text-align:center;
	}
	
.KM{
	width:80px;
	font-weight:bold;
	text-align:center;
	}
	
.SF{
	width:200px;
	font-weight:bold;
	}		
	
.Col{
	margin:1px;
	float:left;
}
	
.Emt{
	width:100px;
	text-align:center;
}
		
.Ico{
	}
	
.Type{
	padding-left:10px;
	}
	
.Text{
	}
	
	
	
	
table#iso{
	padding:5px;
	}

table#iso th{
	color:#ffffff;
	background-color:#034373;
	font-size:small;
	padding:5px;
	cellpadding:2px;
	border: 2px solid #FFFF00;
	}

table#iso td{
	background-color:#ffffff;
	font-size:small;
	padding:5px;
	cellpadding:2px;
	}
	


/* EVAL */
table.TabellaEval{
	font-size:small;
	width:1000px;
	margin-top:10px;
	}

table.TabellaEval td.RequestLabel{
	font-weight:bold;
	width:250px;
	text-align:right;
	}

table.Eval1 tr td.RequestLabel,
table.Eval2 tr td.RequestLabel,
table.Eval3 tr td.RequestLabel,
table.Eval4 tr td.RequestLabel{
	background-color:#FFC300;
	}

table.Eval1 tr td,
table.Eval2 tr td,
table.Eval3 tr td,
table.Eval4 tr td{
	background-color:#fff;
	}

table.TabellaEvalQuestions{
	font-size:small;
	width:1000px;
	margin-top:10px;
	}

tr td.RequestLabelQuestion,tr th.RequestLabelQuestion{
	background-color:#FFC300;
	width: 600px;
	}

tr td.RequestLabelAnswer{
	background-color:#FFF;
	width: 400px;
	text-align:center;
	}






table.TabellaPermessiUtente{
	background-color:#ffffff;
	font-size:small;
	width:100%;
	margin-top:20px;
	}
table.TabellaPermessiUtente th{
	color:#ffffff;
	width:250px;
	}
table.TabellaPermessiUtente th.O{
	background-color:#3366ff;
	}
table.TabellaPermessiUtente th.G{
	background-color:#99cc00;
	}
table.TabellaPermessiUtente th.D{
	background-color:#c0c0c0;
	}
table.TabellaPermessiUtente th.r{
	background-color:#ff6600;
	}
table.TabellaPermessiUtente td.PermessoCode, table.TabellaPermessiUtente td.checkbox{
	text-align:center;
	font-weight:bold;
	width:30px;
	}
table.TabellaPermessiUtente td{
	border-bottom: 1px solid #000000;
	}
table.DatiAnagrafici{
	background-color:#ffffff;
	font-size:small;
	width:100%;
	margin-top:20px;
	padding:10px;
	}
table.DatiAnagrafici th{
	text-align:left;
	}

table.ExportLog{
	background-color:#ffffff;
	font-size:small;
	width:1000px;
	margin-top:20px;
	}
table.ExportLog th{
	text-align:left;
	background-color:#034373;
	border-bottom:1px solid #fff;
	color:#fff;
	height:30px;
	padding-left:15px;
	}
table.ExportLog td{
	border-bottom:1px solid #034373;
	}

td.SalvaUtente{
	text-align:center;
	}

.PermessiButton{
	height:30px;
	width:200px;
	background-color: #fff;
	border: 2px solid #000;
	margin:3px;
	}

.IconaRuolo{
	background-color:#fff;
	width:220px;
	margin-left:10px;
	margin-top:10px;
	padding:5px;
	}

.DescrizioneRuolo{
	width:220px;
	margin-left:10px;
	padding:5px;
	font-size:medium;
	}

.PulsantiRuolo{
	width:220px;
	margin-left:10px;
	padding:5px;
	}

table#ApplicationError{
	background-color:#fff;
    margin-left:auto; 
    margin-right:auto; 
    width:100%;
	}

table#ApplicationError tr td.ApplicationError_image{
	width:300px;
	height:300px;
	text-align:center;
	}

table#ApplicationError tr td.ApplicationError_text{
	height:300px;
	text-align:left;
	}