div#Header {
	width: 100%; 
	height: 100px; 
	background-color: #034373;
	}

div#UserInfo{
	position: relative;  
	width: 530px; 
	padding-top:10px;
	color: #FFFFFF;
	}

div#SOGER_ScaricoInterface {
	position: fixed; /* firefox only */
	_position: absolute; /* ie only */
	top: 300px; 
	left: 270px; 
	width: 400px; 
	height: 300px; 
	padding: 3px; 
	border: 2px #5C7D99 SOLID; 
	z-index: -1; 
	background-color: #FFFFFF;
	}

div#SOGER_InterInterface {
	position: fixed; /* firefox only */
	_position: absolute; /* ie only */
	top: 300px; 
	left: 270px; 
	width: 400px; 
	height: 300px; 
	padding: 3px; 
	border: 2px #5C7D99 SOLID; 
	z-index: -1; 
	background-color: #FFFFFF;
	}

div#SOGER_FormularioInterface {
	position: absolute; 
	top: 200px; 
	left: 270px; 
	width: 300px; 
	border: 4px #FFFFFF SOLID; 
	z-index: -1; 
	background-color: #FFFFFF;
	}

div#SOGER_RegistroInterface {
	position: absolute; 
	top: 140px; 
	left: 5px; 
	width: 300px; 
	border: 4px #FFFFFF SOLID; 
	z-index: -1; 
	background-color: #FFFFFF;
	}

div#SOGER_RegistroFanghiInterface {
	position: absolute; 
	top: 140px; 
	left: 5px; 
	width: 300px; 
	border: 4px #FFFFFF SOLID; 
	z-index: -1; 
	background-color: #FFFFFF;
	}


.SOGER_ScaricoInterfaceData {border: 0px; font-size: 9px; font-weight: bold; width: 70px; margin-right: 2px;}
.SOGER_InterInterfaceData {border: 0px; font-size: 9px; font-weight: bold; width: 70px; margin-right: 2px;}

a.UserInfo {color: #FFFF00; font-weight: bold;}
img.NoBorder {border: 0px;}

div.divName{
	text-align:center;
	height:25px;
	width:100%;
	background-color: #4D6980;
	color: #ffffff;
	}

div.divName span{
	font-weight: bold;
	padding:5px;
	font-size: 13pt;
	font-family: verdana;
	text-transform: uppercase;
	}

div#SogerUserMainMenu {
	width:350px;
	/*padding:1px;*/
	height:750px;
	/*margin-left:10px;*/
	margin-top:10px;
	/*border: 1px #4D6980 solid; */
	background-repeat:repeat-y;
	background-position:1px;
	background-color: #8FA2B3; 
	}

div#SogerSubMenu {
	/*padding:1px;*/
	width:350px;
	height:750px;
	margin-left:10px;
	margin-top:10px;
	/*border: 1px #4D6980 solid; */
	background-repeat:repeat-y;
	background-color: #8FA2B3; 
	}

div#SogerProfilo {
	/*left: 680px; */
	float:left;
	height: 600px; 
	width: 280px; 
	/*background-color:red;*/
	margin-left:10px;
	margin-top: 10px;
	}

div#DownloadList{
	border: 1px #4D6980 solid; 
	width:625px;
	height:600px;
	margin-left:10px;
	margin-top:10px;
	background-color: #8FA2B3; 
	padding:1px;
	}


div#SogerAvvisi{
	/*border: 1px #4D6980 solid; */
	width:350px;
	height:750px;
	margin-left:10px;
	margin-top:10px;
	background-color: #8FA2B3; 
        }
        
div#SogerAvvisi div.divName{
        background-image: url("3lines.png");
        background-repeat: no-repeat;
        background-position: 3px;
        cursor:pointer;
        }

div#SogerAvvisiGestioneContainer, div#SogerAvvisiAltriContainer{
	overflow-y: visible;
	overflow-y: scroll;
        overflow-x: hidden;
	height:675px;
	width: 350px;
	}

div.SogerAvvisiTitle {
	font-size: 11px; 
	font-weight: bold; 
	text-align: center; 
	background-color: #5C7D99; 
	color: white; 
	padding:2px;
	margin-top:2px;
	width: 350px;
	}

div.SogerAvvisiItem {
	font-size: 11px; 
	color: white; 
	padding: 2px;
        width:325px;
	}


/* Soger Errors */
div#Errors {position: absolute; left: 518px; top: 11px; z-index: 2; width: 325px; height: 30px; border: 2px #FFFFFF SOLID; text-align: center; cursor: pointer}
div.ErrType1{background-color: red; color: white;}
div.ErrType2{background-color: green; color: white;}
div.ErrType3{background-color: yellow; color: black;}


div#DivInsolvente {
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -200px;
	width: 800px;
	height: 400px;

	position: absolute;
	background-color:#ffffff;
	z-index: 2;
	border: 2px #000000 SOLID; 
	cursor: pointer;
	}
div#DivInsolventeBg{
    position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
	z-index: 1;
    background:rgba(255,255,255,0.5);
	}
div#DivInsolvente p{
	margin:30px;
	}

div#SOGER_EtichetteInterface {
	position: absolute; 
	top: 140px; 
	left: 300px; 
	width: 400px; 
	border: 1px #000 SOLID; 
	z-index: -1; 
	background-color: #fff;
	}
div#SOGER_EtichetteInterface h3 {
	color:#fff;
	background-color:#034373;
	padding:10px;
	margin:0;
	}
div#SOGER_EtichetteInterface table{
	color:#000;
	margin-top:20px;
	width:100%;
	}
div#SOGER_EtichetteInterface table tr td select{
	width:200px;
	}
div#SOGER_EtichetteInterface table tr td select option{
	font-size: x-small;
	}
div#MapIframe{
	overflow:hidden;
	}

table.config_nc_table{
	margin:20px;
	width:960px;
	}

table.config_nc_table th{
	background-color:#034373;
	color:#ffffff;
	border: 2px solid #FFFF00;
	font-size:small;
	}

table.config_nc_table td{
	background-color:#ffffff;
	font-size:small;
	border-bottom:1px solid #000000;
	}


table#CostiViaggio th, table#CostiViaggio td{
	font-size:small;
	text-align:center;
	width:10%;
	background-color:#fff;
	}

table#CostiViaggio{
	padding-bottom:30px;
	margin-left: auto; margin-right: auto;
	}

table#CostiViaggio_Correttivo{
	width:50%;
	margin-left: auto; margin-right: auto;
	}

table#CostiViaggio_Correttivo th, table#CostiViaggio_Correttivo td{
	font-size:small;
	text-align:center;
	width:10%;
	background-color:#fff;
	}

table#CostiViaggio th, table#CostiViaggio_Correttivo th{
	background-color:#034373;
	color:#ffffff;
	border: 2px solid #FFFF00;
	}
table#CostiViaggio td, table#CostiViaggio_Correttivo td{
	border: 2px solid #FFF;
	}
table#CostiViaggio td input, table#CostiViaggio_Correttivo td input{
	text-align:center;
	}

.noclose .ui-dialog-titlebar-close{
    display:none;
	}

#Popup_CompletamentoScaricoFIR input{
	text-align:right;
	width:120px;
	}

#Popup_CompletamentoScaricoFIR input#CompletamentoScarico_NMOV, #Popup_CompletamentoScaricoFIR input#CompletamentoScarico_DTMOV{
	background-color:#F7F4F4;
	}

#LINK_table{
	margin: 0 auto; /* or margin: 0 auto 0 auto */
	}

#LINK_ListaCarichi, #LINK_DestProd, #LINK_DestProd_possibili{
	border: 1px solid #000;
	}

#LINK_ListaCarichi th, #LINK_DestProd th, #LINK_DestProd_possibili th{
	border-bottom: 1px solid #000;
	background-color: #C0C0C0;
	}

#LINK_ListaCarichi td, #LINK_DestProd td, #LINK_DestProd_possibili td{
	border-bottom: 1px solid #000;
	}
        
        
/* timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; border-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd, 
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }