body{
color: #BFB6B3;
background-image: -moz-linear-gradient(top, rgba(44,27,11,255) 1%, rgba(39,13,5,255) 1%);


}
.containerMap{
        width: 970px;
        height:auto;
        font-family: verdana,sans-serif;
        font-size: 0.8em;
        padding:7px;
        }
.lx{
        width: 576px;
        margin-right:7px;
        float: left;
        display: inline;
        }
.rx{
        width: 360px;
        margin:0px;
        float:left;
        text-align: center;
        color:#FF6600;
        display: inline;
        }
div.tab_costi{
        background-color: #0E2747;
        border:1px solid #4D6980;
        height:273px;        
        }

.titoloTab{
        color:#FF6600;
        font-weight:bold;
        padding: 10px;
        }

.cols{
        height:435px;
        }
.boxmap{
        background-color:#fff;
        height: 273px;
        border:1px solid #4D6980;
        }
.imgMap{
        margin:3px;
        height: 263px;
        border:2px solid #0E2747;
       }
.percorso{
        height: 35px;
        margin:10px;
        padding: 20px;
        color:#ff6600;
      }
.tapa{
        color:#ffffff;
        height: 150px;
        margin-top:10px;
        background-color: #0E2747;
        border: 1px solid #4D6980;
      }
input{
        background-color: #1A457B;
        border: 1px solid #77D5F7;
     }
table{
       font-size: 0.95em;
       color:#419DCF;
       margin: 0px 0px 0px 5px;
     }
table input{
       color:#1A457B;
       text-align: center;
       background-color:#6A91BA;
    }
.rx input{
       width: 40px;
    }
.tbtitolo{
       color: #F1F264;
       font-weight:bold;
    }
.rspta{
       color:#FF6600;
    }
.infoCalcolo{
       float:right;
       width: 99%;
       height: 95px;
       margin-top:10px;
       height:150px;
       background-color: #0E2747;
       border: 1px solid #4D6980;
    }
.blue{
       color:#419DCF;
    }
.orange{
       color:#ff6600;
    }
.white{
       color:#ffffff;
    }
.gray{
       color:#CCCCCC;
    }
.percorso input{
       height: 25px;
       margin: 0px 10px;
       color: #ccc;
       text-align: center;
    }
.infoPercorso{
       float: left;
       height: auto;
       margin:10px 0px 0px 0px;
       background-color:#0E2747;
       padding:20px 10px;
       clear: both;
       width: 922px;
    }
.tapa input{
       height: 25px;
       margin: 0px 10px;
       color: #ccc;
       text-align: center;
}
.btn{
        height: 10px;
        width:auto;
        padding: 4px 10px 4px;
        display: inline;
    }
.cleanAddress{
        margin-right: 30px;
}
.cancella{
        padding: 2px;
        margin:2px;
     }

#totPrice{
        font-size:1.4em;
    }

table#TappeTable{
        margin:20px;
    }

table#TappeTable td{
        color:#fff;
    }

table#costi{
        width:320px;
        border-spacing:0;
        margin-left:20px;
    }

table#costi td{
        padding:0px;
    }

table#costi td, table#costi th{
        border-bottom:1px solid #F1F264;
        border-right:1px solid #F1F264;
    }

table#tableRoute{
        color:#eee;
        width: 100%;
        position: relative;
        right: 0px;
    }

table#tableRoute td{

        padding: 2px 5px;
        text-align: center;

        }


.ruta{
        padding: 2px 0px;
    }
    
.gestioneTappe{
    float: left; 
    margin-right:2px;
    display:inline;
    width: 30%;
}  
    
.detailRoute{
    background-color: #0E2747; 
    clear: right;
    display:inline;
    text-align: center;
    width: 68%;
    float: left;}


#detaglioTappe{margin:10px 80px;}

#ScegliIndirizzo td{padding: 0px 20px;}
#ScegliIndirizzo select{color: #174693;}
#ScegliIndirizzo tr{padding: 5px 10px;}
tr.subtitle{background-color: #DEDAD4;}
.ui-dialog{font-size: 0.7em;}
.ui-widget{font-size: 0.7em;}

.ui-autocomplete-input {color:#174693;}

a:link{text-decoration: none; color: #BFB6B3;}
a:hover{text-decoration: none; color: #BFB6B3;}
a:active{text-decoration: none; color: #BFB6B3;}
a:visited{text-decoration: none; color: #CFB881;}
